Repository Felipe771314/webmefy-new: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --bail --findRelatedTests, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "prettier --write"
    ],
    "**/*.{json,md,yml}": [
      "prettier --write"
    ],
    "**/*.{js,jsx,ts,tsx}": [
      "jest --bail --findRelatedTests"
    ]
  }

test: verificando husky
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

feat: new page
  package-lock.json
  package.json
  templates/index.liquid
Due: prettier --write

feat: add the dawn base to shopify 2
  templates/index.liquid
Due: none

feat: add the dawn base to shopify 3
  templates/index.liquid
Due: none

feat: add the dawn base to shopify 4
  templates/index.liquid
Due: none

new branch test
  app/hello.js
Due: jest --bail --findRelatedTests

feat(): new cases to deploy 2
  components/molecules/ModalDialog/test/ModalDialog.test.tsx
  components/organisms/Caroussel/Caroussel.tsx
  components/organisms/Caroussel/test/Caroussel.test.tsx
Due: jest --bail --findRelatedTests

feat(): new cases to deploy 5
  layout/theme.liquid
Due: none

fix(schema): migrated require to import in schema files 1
  config/settings_data.json
  config/settings_schema.json
Due: prettier --write

fix(schema): migrated require to import in schema files 2
  templates/404.json
  templates/article.json
  templates/blog.json
  templates/cart.json
  templates/collection.json
  templates/customers/account.json
  templates/customers/activate_account.json
  templates/customers/addresses.json
  templates/customers/login.json
  templates/customers/order.json
  templates/customers/register.json
  templates/customers/reset_password.json
  templates/gift_card.liquid
  templates/index.json
  templates/list-collections.json
  templates/page.contact.json
  templates/page.faq.json
  templates/page.json
  templates/page.list-collections.json
  templates/page.livraison.json
  templates/page.no-layout.json
  templates/page.order-returns.json
  templates/page.paiement.json
  templates/page.qui-sommes-nous.json
  templates/page.sca-storelocator.json
  templates/page.service-client.json
  templates/page.wishlist.json
  templates/password.json
  templates/product.json
  templates/product.pre-order.json
  templates/product.quick-buy-drawer.json
  templates/product.quick-buy-popover.json
  templates/search.json
Due: prettier --write

fix(schema): migrated require to import in schema files 3
  layout/checkout.layout.liquid
  layout/minimal.layout.liquid
  layout/theme.layout.liquid
Due: none

fix(schema): migrated require to import in schema files 5
  templates/gift_card.liquid
Due: none

fix(schema): migrated require to import in schema files 6
  config/settings_data.json
  config/settings_schema.json
  theme.liquid
Due: prettier --write

fix(schema): migrated require to import in schema files 7
  estructura-proyecto.txt
  organize-theme.sh
  snippets/css-variables.liquid
  snippets/f_render_seo-atom-oembed-links.liquid
  snippets/f_render_seo-hreflang-canonical.liquid
  snippets/image-attributes.liquid
  snippets/js-variables.liquid
  snippets/meta-tags.liquid
  snippets/microdata-schema.liquid
  snippets/mobile-facet-toolbar.liquid
  snippets/scripts-optimizer.liquid
  snippets/scroll-to-top.liquid
  snippets/social-meta-tags.liquid
  snippets/vite-tag.liquid
Due: none

fix(schema): migrated a new scaffold pure 1
  estructura-proyecto.txt
  publish-shopify-theme.sh
Due: none

refactor(theme): move theme folders and generate schema
  estructura-proyecto.txt
  shopify/snippets/badge/badge.json
  shopify/snippets/badge/badge.liquid
  shopify/snippets/button/button.json
  shopify/snippets/button/button.liquid
  shopify/snippets/card/card.json
  shopify/snippets/card/card.liquid
  shopify/snippets/caroussel/caroussel.json
  shopify/snippets/caroussel/caroussel.liquid
  shopify/snippets/checkbox/checkbox.json
  shopify/snippets/checkbox/checkbox.liquid
  shopify/snippets/forminputgroup/forminputgroup.json
  shopify/snippets/forminputgroup/forminputgroup.liquid
  shopify/snippets/modaldialog/modaldialog.json
  shopify/snippets/modaldialog/modaldialog.liquid
  shopify/snippets/navbar/navbar.json
  shopify/snippets/navbar/navbar.liquid
  snippets/alertmessage.json
  snippets/alertmessage.liquid
  snippets/spinner.json
  snippets/spinner.liquid
  snippets/textinput.json
  snippets/textinput.liquid
Due: prettier --write

refactor(theme): move theme folders and generate schema 2
  assets/alertmessage.css
  assets/alertmessage.scss
  assets/badge.css
  assets/badge.scss
  assets/button.css
  assets/button.scss
  assets/card.css
  assets/card.scss
  assets/caroussel.css
  assets/caroussel.scss
  assets/checkbox.css
  assets/checkbox.scss
  assets/forminputgroup.css
  assets/forminputgroup.scss
  assets/modaldialog.css
  assets/modaldialog.scss
  assets/navbar.css
  assets/navbar.scss
  assets/spinner.css
  assets/spinner.scss
  assets/textinput.css
  assets/textinput.scss
  scripts/generate-shopify-schema.cjs
  sections/alertmessage.liquid
  sections/card.liquid
  sections/caroussel.liquid
  sections/forminputgroup.liquid
  sections/modaldialog.liquid
  sections/navbar.liquid
  snippets/badge.liquid
  snippets/button.liquid
  snippets/checkbox.liquid
  snippets/spinner.json
  snippets/textinput.liquid
Due: prettier --write

refactor(theme): move theme folders and generate schema 3
  sections/caroussel.liquid
Due: none

refactor(theme): move theme folders and generate schema 4
  sections/caroussel.json
  sections/caroussel.liquid
Due: prettier --write

refactor(theme): move theme folders and generate schema 6
  scripts/generate-shopify-schema.cjs
  sections/alertmessage.liquid
  sections/card.liquid
  sections/caroussel.liquid
  sections/forminputgroup.liquid
  sections/modaldialog.liquid
  sections/navbar.liquid
  snippets/badge.liquid
  snippets/button.liquid
  snippets/checkbox.liquid
  snippets/spinner.liquid
  snippets/textinput.liquid
Due: none

refactor(theme): move theme folders and generate schema 7
  scripts/generate-shopify-schema.cjs
  sections/alertmessage.liquid
  sections/card.liquid
  sections/caroussel.liquid
  sections/forminputgroup.liquid
  sections/modaldialog.liquid
  sections/navbar.liquid
  snippets/badge.liquid
  snippets/button.liquid
  snippets/checkbox.liquid
  snippets/spinner.liquid
  snippets/textinput.liquid
Due: none

refactor(theme): move theme folders and generate schema 8
  scripts/generate-shopify-schema.cjs
  sections/alertmessage.liquid
  sections/card.liquid
  sections/caroussel.liquid
  sections/forminputgroup.liquid
  sections/modaldialog.liquid
  sections/navbar.liquid
  snippets/badge.liquid
  snippets/button.liquid
  snippets/checkbox.liquid
  snippets/spinner.liquid
  snippets/textinput.liquid
Due: none

refactor(theme): move theme folders and generate schema 10
  scripts/generate-shopify-schema.cjs
  sections/alertmessage.liquid
  sections/card.liquid
  sections/caroussel.liquid
  sections/forminputgroup.liquid
  sections/modaldialog.liquid
  sections/navbar.liquid
  snippets/badge.liquid
  snippets/button.liquid
  snippets/caroussel.json
  snippets/caroussel.liquid
  snippets/checkbox.liquid
  snippets/spinner.liquid
  snippets/textinput.liquid
Due: prettier --write

refactor(theme): move theme folders and generate schema 11
  sections/caroussel.liquid
Due: none

refactor(theme): move theme folders and generate schema 12
  sections/caroussel.liquid
Due: none

refactor(theme): move theme folders and generate schema 13
  sections/caroussel.liquid
Due: none
